.card {
    padding: 8px;
    border: 1px solid hsl(0, 0%, 0%);
    width: 500px;
    border-radius: 8px;
    margin: 16px;
}

.list-item {
    display: flex;
    align-items: center;
    gap: 16px;
    list-style-type: none;
    margin: 40px 20px;
}

.list-item img {
    border-radius: 99px;
    width: 100px;
}

